@use '../assets/global.scss' as *;

.layout{
    background-color: $bg-smooth;

    .container{
        display: flex;

        .menuContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $bg-white;
        }

        .contenContainer{
            width: 100%;
        }
    }
}